<% include adminheader.ejs %>

<script>
    myFunction(a)
    {
        console.log(a);
        if(a>0){
            alert("Sorry, Voter has aleady voted\n Can't set his verification false now :(");
            return false;
        }
        return true;
    }
</script>

<div id="voter_table">
    <table class="table table-hover table-bordered table-striped">
        <h4>Voters</h4>
        <small>Click on the row item to verify the identity of Voter.</small>
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Aadhaar</th>
                <th scope="col">Election Id</th>
                <th scope="col">Voted?</th>
                <th scope="col">Verified?</th>
            </tr>
        </thead>
        <tbody>
            <% for(var i=0 ; i < voters.length; i++) { %>
                <% console.log(voters[i]); %>
                <% var msg= "Voter has already voted. Verification status can not be changed."; %>
                <% var f = voters[i].voteCount;%>
                <tr onclick="if( '<%- f %>' == 0 ){window.location='/admin/verifyvoter/<%= voters[i].aadhar %>/<%= voters[i].electionId %>';}else{ window.alert( '<%- msg %>' );}" style="cursor: pointer;">

                    <th scope="row">
                        <%= i+1 %>
                    </th>
                    <td>
                        <%= voters[i].name%>
                    </td>
                    <td>
                        <%= voters[i].aadhar%>
                    </td>
                    <td>
                        <%= voters[i].electionId%>
                    </td>
                    <td>
                    <%=(voters[i].voteCount ? "TRUE" : "FALSE")   %>
                    </td>
                    <td>
                        <%=(voters[i].verified ? "TRUE" : "FALSE")   %>
                    </td>
                </tr>
                <% }%>
        </tbody>
    </table>
    <hr>
</div>

</div>
</div>
</div>
</body>

</html>